<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= produkData.title %></title>
</head>
<body>
  <%- include('layouts/header'); %>
  <div class="container mt-5 mb-5">
    <h5>Tambah Produk</h5>
    <div class="container mt-4 mb-5">
      <div class="card">
        <div class="card-header">
          <div class="card-body">
            <form action="/data/post_produk" method="post" enctype="multipart/form-data" >
              <div class="row g-3">
               
                <div class="col-md-4">
                  <label for="" class="form-label">Nama Produk</label>
                  <input type="text" class="form-control" name="nama_produk" required aria-required="true">
                </div>

                <div class="col-md-4">
                  <label for="" class="form-label">Kategori Produk</label>
                  <!-- <input type="text" class="form-control" name="kategori" required aria-required="true"> -->
                  <select name="kategori" class="form-select" id="nama_kategori" aria-label="Floating label select example">
                    <option value="" selected>-</option>
                  </select>
                </div>

                <div class="col-md-4">
                  <label for="" class="form-label">Deskripsi Produk</label>
                  <input type="text" class="form-control" name="deskripsi" required aria-required="true">
                </div>

              </div>


              <div class="row mt-3">
                <div class="col-md-4">
                  <label for="" class="form-label">Jumlah</label>
                  <input type="number" class="form-control" name="jumlah" required aria-required="true">
                </div>

                <div class="col-md-4">
                  <label for="" class="form-label">Harga Produk</label>
                  <input type="text" class="form-control" name="harga" required aria-required="true">
                </div>

                <div class="col-md-4">
                  <label for="" class="form-label">Satuan Produk</label>
                  <input class="form-control" type="number" name="satuan" required>
                </div>
              </div>

              <!-- Bagian 3 -->
              <div class="row mt-2">
                <div class="col-md-4">  
                  <label for="" class="form-label">Pemasok</label>
                  <!-- <input class="form-control" name="pemasok" required> -->
                  <select name="pemasok" class="form-select" id="nama_supplier" required>
                    <option value="" selected>-</option>
                  </select>
                </div>

                <div class="col-md-4">
                  <label for="" class="form-label">Tanggal Masuk</label>
                  <input type="date" class="form-control" name="tanggal_masuk">
                </div>

                <div class="col-md-4">
                  <label for="" class="form-label">Foto</label>
                  <!-- <input type="file" id="foto" name="foto"><br> -->
                  <input type="file" class="form-control" id="foto" name="foto" required>
                </div>
              </div>


              <div class="col-md-4">
                <label for=""  class="form-label">Catatan</label>
                <textarea name="catatan" id="" cols="30" rows="3" class="form-control"></textarea>
              </div>


              <!-- <div class="row">


              </div> -->

              <div class="d-flex mt-3">
                <button type="submit" class="btn btn-primary mx-2">Submit</button>
                <a href="/data/data_produk" class="btn btn-danger mx-2">Close</a>

              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script>
    // Ambil data produk dari backend dan tampilkan dalam select option
    fetch('/data/jenis_kategori')
      .then(response => response.json())
      .then(data => {
        const select = document.getElementById('nama_kategori');
        data.forEach(kategori => {
          const option = document.createElement('option');
        //   option.value = product.id_jenispaket;
          option.value = kategori.nama_kategori; // Menggabungkan dua value
          option.text = kategori.nama_kategori; 
          select.appendChild(option);
        });
      })
      .catch(error => console.error('Error fetching products:', error));

      //fetch data untuk data supplier.
      fetch('/data/supplier')
      .then(response => response.json())
      .then(data => {
        const select = document.getElementById('nama_supplier');
        data.forEach(supplier => {
          const option = document.createElement('option');
        //   option.value = product.id_jenispaket;
          option.value = supplier.nama_supplier; // Menggabungkan dua value
          option.text = supplier.nama_supplier; 
          select.appendChild(option);
        });
      })
      .catch(error => console.error('Error fetching products:', error));
  </script>


  <%- include('layouts/footer'); %>
</body>
</html>